.container{
  padding: 0 150px;
  display: flex;
  justify-content: center;
}

.table{
  display: flex;
  flex-direction: column;
  
  
  
}

.header{
  display: grid;
  grid-template-columns: 50px 150px 200px 150px;
  gap: 50px;
  margin-left: -15px;
  
}

.data{
 display: grid;
  padding-top: 20px;
  grid-template-columns: 50px 200px 200px 150px;
  gap: 50px;
  border-top: 1px solid gray;
  border-bottom: 1px solid gray;
  margin-bottom: -1px;
  
}


